@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.shop h1{
    font-size: 30px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    text-align: start;
    font-weight: 800;
    padding-left: 50px;
}


/* Aviator optics */
 .w-25{
    display: flex;
}
.imag-box img{
    width: 200px;
    height: 100px;
}
.content {
   
    
}